<h1> <%= @restaurant.name %></h1>

<ul>
  <li> <%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<h2>Reviews</h2>

<ul>
  <% if @restaurant.reviews.empty?  %>
    <li>
      <i class="fas fa-user-graduate"></i>
      <%= "Be the first to review" %>
      <%= @restaurant.name %>
    </li>
  <% end %>
  <% @restaurant.reviews.each do |review| %>

    <% if review.rating == 0 %>
      <li>
        <%= review.content %>
        <i class="fas fa-frown"></i>
        <%= "This user gave a 0 star rating" %>
      </li>
    <% end %>

    <% if review.rating > 0 %>
      <li>
        <%= review.content %>
        <% review.rating.times do %>
           <i class="fas fa-star"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Return to restaurants", restaurants_path %>

<%= link_to "Review", new_restaurant_review_path(params[:id]) %>
